@charset "utf-8";
/* CSS Document */

*{
 top: 0; left: 0;
 margin: 0;
}

/*Importación de la fuente*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); 

/*====================================================================
  Reglas base para dispositivos móviles
  Diseño Webapp (0px - 767px)
===================================================================*/


/*Header<---------------------------------------------------------*/

.header{
    position: fixed;
    display:flex;
    justify-content: space-between;
    width: 100%; height: 70px; 
    background-color:#1a4a6f;
    z-index: 3;
    align-items: center;
    
}

.scrolled {
    background-color: #1a4a6f;
}

.hamburger-menu {
    padding: 0px 25px 0px 0px;
    color: white;
    font-size: 20px; cursor:pointer;
    outline: 0;
}

.logo > img{
    width: auto; height: 50px;
    padding: 0px 0px 0px 25px;
}

.btn-donate, .main-nav {
    display: none; 
}

.main-web-nav {
    display: none;
}

.main-nav {
    font-family: 'Roboto', sans-serif; /*Funte del menu */
    position: fixed; z-index: 3;
    top: 70px; left: -100%; width: 100%;
    height: calc(100% - 70px);
    background-color:hsla(0,0%,0%,0.90);
    transition: left 0.4s ease-in-out;
    font-size: 20px;
}

.is-open{
    left:0; display: block;
    
}

.main-nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-top: 50px;
}

.main-nav li {
    padding: 20px 0;
}

.main-nav a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
}

/*----------------->FIN*/



/*Footer <-----------------------------------------------------------*/
    
    .container-footer {
        width:100%; height: auto;
        background-color: #1a4a6f;
        display: flex;
        justify-content: center; align-items: center;
    }
    
    .content-footer {
        width:95%; height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center; align-items: center;
    }
    
    .section-1-content {
        width:90%; height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center; align-items: center
    }
    
    .footer-img-cont {
        width:100%; height: 50px;
        display: flex;
        justify-content: center; align-items: center;
    }
    
    .footer-img-cont > img {
        width: 250px; height: auto;
    }
    
    .footer-link-aviso {
        width: 100%; height: 50px;
        display: flex;
        justify-content: center; align-items: center;
        font-family: 'Roboto', sans-serif; font-size: 14px;
        color: aliceblue;
        margin: 10px 0px 0px 0px;
    }
    
    .footer-link-aviso > a {
        font-size: 12px;  color: aliceblue; cursor: pointer;
        margin: 0px 5px 0px 5px; text-decoration: none;
    }
    
    .footer-link-aviso > a:hover {
        text-decoration: underline;
    }
    
    .footer-text-cont {
        width: 100%; height: 30px;
        display: flex;
        justify-content: center; align-items: center;
        font-family: 'Roboto', sans-serif; font-size: 14px;
        color: aliceblue;
        margin: -10px 0px 0px 0px;
    }
    
    .section-2-content {
        width:90%; height: 250px;
        display: flex;
        flex-direction: column;
        justify-content:center; align-items: center
    }
    
    .social-footer {
        width:100%; height: 380px;
        display: flex;
        flex-direction: column;
        justify-content:center; align-items: center;
    }
    
    .title-social {
        width: 100%; height: 50px;
        display: flex;
        justify-content: center; align-items: center;
        font-family: 'Roboto', sans-serif; font-size: 16px;
        color: aliceblue; font-weight: 600;
    }
    
    .button-social {
        margin: 0px 0px 0px 0px;
        width: 100%; height: 50px;
        display: flex;
        justify-content: center; align-items: center;
    }
    
    .button-social > button[type="button"]  {
        
        margin: 0px 5px 0px 5px;
        width:50px; height: 50px;
        border: 1px rgba(255,255,255,1.00) solid;
        background-color: aliceblue;
        border-radius: 50%;
        cursor: pointer; outline: none;
        color: #1a4a6f; font-size: 16px;
    }
    
    .button-social > button[type="button"]:hover {
        color: aliceblue; background-color: #1a4a6f;
        font-size: 18px;
    }
    
    .sec2-text-cont {
        display:flex;
        justify-content:center; align-content: center;
        margin: 40px 0px 0px -40px;
        width:100%; height: 100px;
        font-family: 'Roboto', sans-serif; font-size: 16px;
        color: aliceblue; font-weight: 400;
    }
    
    .sec2-info-img {
        width:100%; height: 80px;
        display:flex;
        flex-direction: row;
        justify-content: center; align-items: center;
    }
    
    .sec2-img-con {
        width: 15%; height: 80px;
        display: flex;
        justify-content: center; align-items: center;
    }

    .colibri-container{
        position: sticky;
        width:100px; height: 100px;
        z-index: 2; 
        background-color: transparent;
        left: 90%; bottom: 20px;
        border: none;
        display:flex;
        justify-content: center; align-items: center;
    }
    
    .colibri-content-btn {
        width:80px; height: 80px;
        border: none;
        border-radius: 50%;
        display: flex; 
        justify-content: center; align-items: center;
        opacity: 0.8;
        cursor: pointer;
    }
    
    .colibri-content-btn >img {
        height: 80px; width: auto;
    }
    
    .colibri-content-btn:hover{
        opacity: 1;
    }
    
/*------------------------>FIN*/   


/*Section Contacto <---------------------------------------------------*/
    
    .section-contacto {
        width:100%; height: auto;
        display: flex;
        justify-content:center; align-items: center;
    }
    
    .container-contacto {
        width:90%; height: 1000px;
        display: flex;
        flex-direction: column;
        align-content: center; justify-content: center;
        margin-top: -90px;
    }
    
    .section-title {
        width: 100%; height: 150px;
        justify-content: center; align-items:center;
        display: flex;
        margin-bottom: 0px; margin-top: 0px;
    }
    
    .title-contacto {
        
        width: 300px; height: 50px;
        background-color: #e57200;
        border: none;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        display: flex;
        justify-content: center; align-items: center;
    }
    
    .title-contacto > h1 {
        font-family: 'Roboto', sans-serif; font-size: 32px;
        color: aliceblue; font-weight: 500;
    }
    
    .section-main {
        width:100%; height: 400px; 
        display: flex;
        flex-direction: column;
        justify-content: center; align-items: center;
        margin-top: 150px; 
    }
    
    .maps-content {
        width:100%; height: 400px;
        display: flex;
        justify-content: center; align-items: center;
    }
    
    .container-maps {
        width:370px; height: 370px; 
        background: rgb(148,192,34);
        border: 0;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
        display: flex; 
        align-items: center; justify-content: center;
        margin-bottom: 80px;
    }
    
    .section-info {
        width:100%; height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center; align-items: center;
    }
    
    .text-info-title {
        whidth:100%; height: 50px;
        font-family: 'Roboto', sans-serif; font-size: 18px;
        font-weight: 500; color: black;
        display: flex;
        justify-content: center; align-items: center;
        
    }
    
    .text-info-cont {
        width:100%; height: 50px;
        font-family: 'Roboto', sans-serif; font-size: 14px;
        font-weight: 500; color: black;
        display: flex;
        justify-content: center; align-items: center;
    }
    
    .text-info-cont > span {
        width: 80%; height: 50px; 
        text-align: center;
    }
    
    .mov-view {
        display:block;
    }
    
    .web-view {
        display:none;
    }
    
/*------------------------------>FIN*/
  


/*====================================================================
  Reglas para tabletas
  (768px - 991px)
====================================================================*/
@media (min-width: 768px) and (max-width: 991px) {
    /* Estilos para tabletas */
  
/*Header <---------------------------------------------------------*/
    .header {
        display: flex; justify-content: space-between;
        align-items: center;
    }
    
    .hamburger-menu {
        display: none;
    }
    
    .main-web-nav {
        display: block;
        margin: 0px 20px 0px 0px;
    }
    
    
    .btn-donate {
        
        display: flex;
        justify-content: center; align-items: center;
        width: 100px; height: 30px;
        font-family: 'Roboto', sans-serif; /*Funte del menu */ 
        font-size: 12px; /*Tamaño de fuente boton Donación*/
        background: rgb(148,192,34);
        color: aliceblue; font-weight: 600; 
        margin: 0px 10px 0px 0px;
        border: rgb(148,192,34) 1px solid; border-radius: 10px;
        cursor: pointer;
        
    }
    
    .btn-donate:hover {
        background-color: transparent; border:rgba(255,255,255,1.00) 1px solid;    
    }
    
    
    
    .main-web-nav > ul {
        display: flex;
        list-style: none; justify-content: flex-end;
    }
    
    .main-web-nav > ul > li {
        margin-left: 20px;
    }
    
    .main-web-nav > ul > li > a {
        transition: transform 0.1s ease-in-out;
        display: inline-block;
        font-family: 'Roboto', sans-serif; /*Funte del menu */ 
        font-size: 10px; text-decoration: none;
        font-weight: 600; color: aliceblue;
    }
    
    .main-web-nav > ul > li > a:hover {
         transform: scale(1.05);
    }

/*------------------------>FIN*/    


    
/*Footer <-----------------------------------------------------------*/
    
    .container-footer {
        width:100%; height: auto;
        background-color: #1a4a6f;
        display: flex;
        justify-content: center; align-items: center;
    }
    
    .content-footer {
        width:95%; height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center; align-items: center;
    }
    
    .section-1-content {
        width:90%; height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center; align-items: center
    }
    
    .footer-img-cont {
        width:100%; height: 50px;
        display: flex;
        justify-content: center; align-items: center;
    }
    
    .footer-img-cont > img {
        width: 250px; height: auto;
    }
    
    .footer-link-aviso {
        width: 100%; height: 50px;
        display: flex;
        justify-content: center; align-items: center;
        font-family: 'Roboto', sans-serif; font-size: 14px;
        color: aliceblue;
        margin: 10px 0px 0px 0px;
    }
    
    .footer-link-aviso > a {
        font-size: 12px;  color: aliceblue; cursor: pointer;
        margin: 0px 5px 0px 5px; text-decoration: none;
    }
    
    .footer-link-aviso > a:hover {
        text-decoration: underline;
    }
    
    .footer-text-cont {
        width: 100%; height: 30px;
        display: flex;
        justify-content: center; align-items: center;
        font-family: 'Roboto', sans-serif; font-size: 14px;
        color: aliceblue;
        margin: -10px 0px 0px 0px;
    }
    
    .section-2-content {
        width:90%; height: 250px;
        display: flex;
        flex-direction: column;
        justify-content:center; align-items: center
    }
    
    .social-footer {
        width:100%; height: 380px;
        display: flex;
        flex-direction: column;
        justify-content:center; align-items: center;
    }
    
    .title-social {
        width: 100%; height: 50px;
        display: flex;
        justify-content: center; align-items: center;
        font-family: 'Roboto', sans-serif; font-size: 16px;
        color: aliceblue; font-weight: 600;
    }
    
    .button-social {
        margin: 0px 0px 0px 0px;
        width: 100%; height: 50px;
        display: flex;
        justify-content: center; align-items: center;
    }
    
    .button-social > button[type="button"]  {
        
        margin: 0px 5px 0px 5px;
        width:50px; height: 50px;
        border: 1px rgba(255,255,255,1.00) solid;
        background-color: aliceblue;
        border-radius: 50%;
        cursor: pointer; outline: none;
        color: #1a4a6f; font-size: 16px;
    }
    
    .button-social > button[type="button"]:hover {
        color: aliceblue; background-color: #1a4a6f;
        font-size: 18px;
    }
    
    .sec2-text-cont {
        display:flex;
        justify-content:center; align-content: center;
        margin: 40px 0px 0px -40px;
        width:100%; height: 100px;
        font-family: 'Roboto', sans-serif; font-size: 16px;
        color: aliceblue; font-weight: 400;
    }
    
    .sec2-info-img {
        width:100%; height: 80px;
        display:flex;
        flex-direction: row;
        justify-content: center; align-items: center;
    }
    
    .sec2-img-con {
        width: 15%; height: 80px;
        display: flex;
        justify-content: center; align-items: center;
    }
    
    .colibri-container{
        position: sticky;
        width:100px; height: 100px;
        z-index: 2; 
        background-color: transparent;
        left: 90%; bottom: 20px;
        border: none;
        display:flex;
        justify-content: center; align-items: center;
    }
    
    .colibri-content-btn {
        width:80px; height: 80px;
        border: none;
        border-radius: 50%;
        display: flex; 
        justify-content: center; align-items: center;
        opacity: 0.8;
        cursor: pointer;
    }
    
    .colibri-content-btn >img {
        height: 80px; width: auto;
    }
    
    .colibri-content-btn:hover{
        opacity: 1;
    }
    
/*------------------------>FIN*/  

/*Section Contacto <---------------------------------------------------*/
    
    .section-contacto {
        width:100%; height: auto;
        display: flex;
        justify-content:center; align-items: center;
    }
    
    .container-contacto {
        width:90%; height: 1000px;
        display: flex;
        flex-direction: column;
        align-content: center; justify-content: center;
        margin-top: -90px;
    }
    
    .section-title {
        width: 100%; height: 150px;
        justify-content: center; align-items:center;
        display: flex;
        margin-bottom: 0px; margin-top: 0px;
    }
    
    .title-contacto {
        
        width: 300px; height: 50px;
        background-color: #e57200;
        border: none;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        display: flex;
        justify-content: center; align-items: center;
    }
    
    .title-contacto > h1 {
        font-family: 'Roboto', sans-serif; font-size: 32px;
        color: aliceblue; font-weight: 500;
    }
    
    .section-main {
        width:100%; height: 400px; 
        display: flex;
        flex-direction: column;
        justify-content: center; align-items: center;
        margin-top: 150px; 
    }
    
    .maps-content {
        width:100%; height: 400px;
        display: flex;
        justify-content: center; align-items: center;
    }
    
    .container-maps {
        width:370px; height: 370px; 
        background: rgb(148,192,34);
        border: 0;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
        display: flex; 
        align-items: center; justify-content: center;
        margin-bottom: 80px;
    }
    
    .section-info {
        width:100%; height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center; align-items: center;
    }
    
    .text-info-title {
        whidth:100%; height: 50px;
        font-family: 'Roboto', sans-serif; font-size: 18px;
        font-weight: 500; color: black;
        display: flex;
        justify-content: center; align-items: center;
        
    }
    
    .text-info-cont {
        width:100%; height: 50px;
        font-family: 'Roboto', sans-serif; font-size: 14px;
        font-weight: 500; color: black;
        display: flex;
        justify-content: center; align-items: center;
    }
    
    .text-info-cont > span {
        width: 80%; height: 50px; 
        text-align: center;
    }
    
    .mov-view {
        display:block;
    }
    
    .web-view {
        display:none;
    }
    
/*------------------------------>FIN*/
  
    
}


/*====================================================================
  Reglas para monitores de escritorio
  (992px - 1199px)
====================================================================*/
@media (min-width: 992px) and (max-width: 1199px) {

/*Header <----------------------------------------------------------*/
    
    .header {
        display: flex; justify-content: space-between;
        align-items: center;
    }
    
    .hamburger-menu {
        display: none;
    }
    
    .main-web-nav {
        display: block;
        margin: 0px 20px 0px 0px;
    }
    
    
    .btn-donate {
        
        display: flex;
        justify-content: center; align-items: center;
        width: 100px; height: 30px;
        font-family: 'Roboto', sans-serif; /*Funte del menu */ 
        font-size: 12px; /*Tamaño de fuente boton Donación*/
        background: rgb(148,192,34);
        color: aliceblue; font-weight: 600; 
        margin: 0px 10px 0px 0px;
        border: rgb(148,192,34) 1px solid; border-radius: 10px;
        cursor: pointer;
        
    }
    
    .btn-donate:hover {
        background-color: transparent; border:rgba(255,255,255,1.00) 1px solid;    
    }
    
    
    
    .main-web-nav > ul {
        display: flex;
        list-style: none; justify-content: flex-end;
    }
    
    .main-web-nav > ul > li {
        margin-left: 20px;
    }
    
    .main-web-nav > ul > li > a {
        transition: transform 0.1s ease-in-out;
        display: inline-block;
        font-family: 'Roboto', sans-serif; /*Funte del menu */ 
        font-size: 12px; text-decoration: none;
        font-weight: 600; color: aliceblue;
    }
    
    .main-web-nav > ul > li > a:hover {
         transform: scale(1.05);
    }
    
/*----------------------->FIN*/  



/*Footer <-----------------------------------------------------------*/
    
    .container-footer {
        width:100%; height: 400px;
        background-color: #1a4a6f;
        display: flex;
        justify-content: center; align-items: center;
    }
    
    .content-footer {
        width:95%; height: 380px;
        display: flex;
        flex-direction: row;
        justify-content: space-between; align-items: center;
    }
    
    .section-1-content {
        width:50%; height: 380px;
        display: flex;
        flex-direction: column;
        justify-content: center; align-items: center
    }
    
    .footer-img-cont {
        width:100%; height: 50px;
        display: flex;
        justify-content: flex-start; align-items: center;
    }
    
    .footer-img-cont > img {
        width: 250px; height: auto;
    }
    
    .footer-link-aviso {
        display: flex;
        justify-content: flex-start; align-items: center;
        width: 100%; height: 50px;
        font-family: 'Roboto', sans-serif; font-size: 14px;
        color: aliceblue;
        margin: 80px 0px 0px 30px;
    }
    
    .footer-link-aviso > a {
        font-size: 12px;  color: aliceblue; cursor: pointer;
        margin: 0px 5px 0px 5px; text-decoration: none;
    }
    
    .footer-link-aviso > a:hover {
        text-decoration: underline;
    }
    
    .footer-text-cont {
        width: 100%; height: 30px;
        display: flex;
        justify-content: flex-start; align-items: center;
        font-family: 'Roboto', sans-serif; font-size: 14px;
        color: aliceblue;
        margin: -20px 0px 0px 30px;
    }
    
    .section-2-content {
        width:50%; height: 380px;
        display: flex;
        flex-direction: column;
        justify-content:center; align-items: center
    }
    
    .social-footer {
        width:100%; height: 380px;
        display: flex;
        flex-direction: column;
        justify-content:center; align-items: center;
    }
    
    .title-social {
        width: 100%; height: 50px;
        display: flex;
        justify-content: flex-start; align-items: center;
        font-family: 'Roboto', sans-serif; font-size: 16px;
        color: aliceblue; font-weight: 600;
    }
    
    .button-social {
        margin: 0px 0px 0px 25px;
        width: 100%; height: 50px;
        display: flex;
        justify-content: flex-start; align-items: center;
    }
    
    .button-social > button[type="button"]  {
        
        margin: 0px 5px 0px 5px;
        width:50px; height: 50px;
        border: 1px rgba(255,255,255,1.00) solid;
        background-color: aliceblue;
        border-radius: 50%;
        cursor: pointer; outline: none;
        color: #1a4a6f; font-size: 16px;
    }
    
    .button-social > button[type="button"]:hover {
        color: aliceblue; background-color: #1a4a6f;
        font-size: 18px;
    }
    
    .sec2-text-cont {
        display:flex;
        justify-content:flex-start; align-content: center;
        margin: 40px 0px 0px -20px;
        width:100%; height: 100px;
        font-family: 'Roboto', sans-serif; font-size: 16px;
        color: aliceblue; font-weight: 400;
    }
    
    .sec2-info-img {
        width:100%; height: 80px;
        display:flex;
        flex-direction: row;
        justify-content: flex-start; align-items: center;
    }
    
    .sec2-img-con {
        width: 15%; height: 80px;
        display: flex;
        justify-content: center; align-items: center;
    }
    
    .colibri-container{
        position: sticky;
        width:100px; height: 100px;
        z-index: 2; 
        background-color: transparent;
        left: 90%; bottom: 20px;
        border: none;
        display:flex;
        justify-content: center; align-items: center;
    }
    
    .colibri-content-btn {
        width:80px; height: 80px;
        border: none;
        border-radius: 50%;
        display: flex; 
        justify-content: center; align-items: center;
        opacity: 0.8;
        cursor: pointer;
    }
    
    .colibri-content-btn >img {
        height: 80px; width: auto;
    }
    
    .colibri-content-btn:hover{
        opacity: 1;
    }
    
/*------------------------>FIN*/  
    
/*Section Contacto <---------------------------------------------------*/
    
    .section-contacto {
        width:100%; height: auto;
        display: flex;
        justify-content:center; align-items: center;
    }
    
    .container-contacto {
        width:90%; height: 1000px;
        display: flex;
        flex-direction: column;
        align-content: center; justify-content: center;
        margin-top: -90px;
    }
    
    .section-title {
        width: 100%; height: 150px;
        justify-content: center; align-items:center;
        display: flex;
        margin-bottom: 0px; margin-top: 0px;
    }
    
    .title-contacto {
        
        width: 300px; height: 50px;
        background-color: #e57200;
        border: none;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        display: flex;
        justify-content: center; align-items: center;
    }
    
    .title-contacto > h1 {
        font-family: 'Roboto', sans-serif; font-size: 32px;
        color: aliceblue; font-weight: 500;
    }
    
    .section-main {
        width:100%; height: 400px; 
        display: flex;
        flex-direction: column;
        justify-content: center; align-items: center;
        margin-top: 150px; 
    }
    
    .maps-content {
        width:100%; height: 400px;
        display: flex;
        justify-content: center; align-items: center;
    }
    
    .container-maps {
        width:600px; height: 350px; 
        background: rgb(148,192,34);
        border: 0;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
        display: flex; 
        align-items: center; justify-content: center;
        margin-bottom: 80px;
    }
    
    .section-info {
        width:100%; height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center; align-items: center;
    }
    
    .text-info-title {
        whidth:100%; height: 50px;
        font-family: 'Roboto', sans-serif; font-size: 18px;
        font-weight: 500; color: black;
        display: flex;
        justify-content: center; align-items: center;
        
    }
    
    .text-info-cont {
        width:100%; height: 50px;
        font-family: 'Roboto', sans-serif; font-size: 14px;
        font-weight: 500; color: black;
        display: flex;
        justify-content: center; align-items: center;
    }
    
    .text-info-cont > span {
        width: 80%; height: 50px; 
        text-align: center;
    }
    
    .mov-view {
        display:none;
    }
    
    .web-view {
        display:block;
    }
    
/*------------------------------>FIN*/
    
}

/*====================================================================
  Reglas para pantallas grandes
  (1200px - 1919px)
====================================================================*/
@media (min-width: 1200px) and (max-width: 1919px) {

/*Header <----------------------------------------------------------*/
    
    .header {
        display: flex; justify-content: space-between;
        align-items: center;
    }
    
    .hamburger-menu {
        display: none;
    }
    
    .main-web-nav {
        display: block;
        margin: 0px 20px 0px 0px;
    }
    
    
    .btn-donate {
        
        display: flex;
        justify-content: center; align-items: center;
        width: 100px; height: 30px;
        font-family: 'Roboto', sans-serif; /*Funte del menu */ 
        font-size: 12px; /*Tamaño de fuente boton Donación*/
        color: aliceblue; font-weight: 600; 
        margin: 0px 30px 0px 0px;
        border-radius: 8px;
        cursor: pointer;
        background-color: transparent; border:rgba(255,255,255,1.00) 1px solid;   
    }
    
    .btn-donate:hover {
         border: rgb(148,192,34) 1px solid; background-color: rgb(148,192,34);
    }
    
    
    
    .main-web-nav > ul {
        display: flex;
        list-style: none; justify-content: flex-end;
    }
    
    .main-web-nav > ul > li {
        margin-left: 20px;
    }
    
    .main-web-nav > ul > li > a {
        transition: transform 0.1s ease-in-out;
        display: inline-block;
        font-family: 'Roboto', sans-serif; /*Funte del menu */ 
        font-size: 12px; text-decoration: none;
        font-weight: 600; color: aliceblue;
    }
    
    .main-web-nav > ul > li > a:hover {
         transform: scale(1.05);
    }

/*------------------->FIN*/
    

    
/*Footer <-----------------------------------------------------------*/
    
    .container-footer {
        width:100%; height: 400px;
        background-color: #1a4a6f;
        display: flex;
        justify-content: center; align-items: center;
    }
    
    .content-footer {
        width:95%; height: 380px;
        display: flex;
        flex-direction: row;
        justify-content: space-between; align-items: center;
    }
    
    .section-1-content {
        width:50%; height: 380px;
        display: flex;
        flex-direction: column;
        justify-content: center; align-items: center
    }
    
    .footer-img-cont {
        width:100%; height: 50px;
        display: flex;
        justify-content: flex-start; align-items: center;
    }
    
    .footer-img-cont > img {
        width: 250px; height: auto;
    }
    
    .footer-link-aviso {
        display: flex;
        justify-content: flex-start; align-items: center;
        width: 100%; height: 50px;
        font-family: 'Roboto', sans-serif; font-size: 14px;
        color: aliceblue;
        margin: 80px 0px 0px 30px;
    }
    
    .footer-link-aviso > a {
        font-size: 12px;  color: aliceblue; cursor: pointer;
        margin: 0px 5px 0px 5px; text-decoration: none;
    }
    
    .footer-link-aviso > a:hover {
        text-decoration: underline;
    }
    
    .footer-text-cont {
        width: 100%; height: 30px;
        display: flex;
        justify-content: flex-start; align-items: center;
        font-family: 'Roboto', sans-serif; font-size: 14px;
        color: aliceblue;
        margin: -20px 0px 0px 30px;
    }
    
    .section-2-content {
        width:50%; height: 380px;
        display: flex;
        flex-direction: column;
        justify-content:center; align-items: center
    }
    
    .social-footer {
        width:100%; height: 380px;
        display: flex;
        flex-direction: column;
        justify-content:center; align-items: center;
    }
    
    .title-social {
        width: 100%; height: 50px;
        display: flex;
        justify-content: flex-start; align-items: center;
        font-family: 'Roboto', sans-serif; font-size: 16px;
        color: aliceblue; font-weight: 600;
    }
    
    .button-social {
        margin: 0px 0px 0px 25px;
        width: 100%; height: 50px;
        display: flex;
        justify-content: flex-start; align-items: center;
    }
    
    .button-social > button[type="button"]  {
        
        margin: 0px 5px 0px 5px;
        width:50px; height: 50px;
        border: 1px rgba(255,255,255,1.00) solid;
        background-color: aliceblue;
        border-radius: 50%;
        cursor: pointer; outline: none;
        color: #1a4a6f; font-size: 16px;
    }
    
    .button-social > button[type="button"]:hover {
        color: aliceblue; background-color: #1a4a6f;
        font-size: 18px;
    }
    
    .sec2-text-cont {
        display:flex;
        justify-content:flex-start; align-content: center;
        margin: 40px 0px 0px -20px;
        width:100%; height: 100px;
        font-family: 'Roboto', sans-serif; font-size: 16px;
        color: aliceblue; font-weight: 400;
    }
    
    .sec2-info-img {
        width:100%; height: 80px;
        display:flex;
        flex-direction: row;
        justify-content: flex-start; align-items: center;
    }
    
    .sec2-img-con {
        width: 15%; height: 80px;
        display: flex;
        justify-content: center; align-items: center;
    }
    
    .colibri-container{
        position: sticky;
        width:100px; height: 100px;
        z-index: 2; 
        background-color: transparent;
        left: 90%; bottom: 20px;
        border: none;
        display:flex;
        justify-content: center; align-items: center;
    }
    
    .colibri-content-btn {
        width:80px; height: 80px;
        border: none;
        border-radius: 50%;
        display: flex; 
        justify-content: center; align-items: center;
        opacity: 0.8;
        cursor: pointer;
    }
    
    .colibri-content-btn >img {
        height: 80px; width: auto;
    }
    
    .colibri-content-btn:hover{
        opacity: 1;
    }
    
/*------------------------>FIN*/ 
    
/*Section Contacto <---------------------------------------------------*/
    
    .section-contacto {
        width:100%; height: auto;
        display: flex;
        justify-content:center; align-items: center;
    }
    
    .container-contacto {
        width:90%; height: 800px;
        display: flex;
        flex-direction: column;
        align-content: center; justify-content: center;
    }
    
    .section-title {
        width: 100%; height: 90px;
        justify-content: center; align-items:center;
        display: flex;
        margin-bottom: 50px;
        margin-top: 150px;
    }
    
    .title-contacto {
        
        width: 300px; height: 50px;
        background-color: #e57200;
        border: none;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        display: flex;
        justify-content: center; align-items: center;
    }
    
    .title-contacto > h1 {
        font-family: 'Roboto', sans-serif; font-size: 32px;
        color: aliceblue; font-weight: 500;
    }
    
    .section-main {
        width:100%; height: 400px; 
        display: flex;
        flex-direction: row;
        justify-content: space-between; align-items: center;
        margin-top: 30px;
    }
    
    .maps-content {
        width:50%; height: 400px;
        display: flex;
        justify-content: center; align-items: center;
    }
    
    .container-maps {
        width:600px; height: 350px; 
        background: rgb(148,192,34);
        border: 0;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
        display: flex; 
        align-items: center; justify-content: center;
    }
    
    .section-info {
        width:50%; height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center; align-items: center;
    }
    
    .text-info-title {
        whidth:100%; height: 50px;
        font-family: 'Roboto', sans-serif; font-size: 18px;
        font-weight: 500; color: black;
        display: flex;
        justify-content: center; align-items: center;
        
    }
    
    .text-info-cont {
        width:100%; height: 50px;
        font-family: 'Roboto', sans-serif; font-size: 14px;
        font-weight: 500; color: black;
        display: flex;
        justify-content: center; align-items: center;
    }
    
    .text-info-cont > span {
        width: 80%; height: 50px; 
        text-align: center;
    }
    
    .mov-view {
        display:none;
    }
    
    .web-view {
        display:block;
    }
    
/*------------------------------>FIN*/
    
}

/*====================================================================
  Reglas para pantallas extra grandes
  (1920px y más)
====================================================================*/
@media (min-width: 1920px) {
    .hamburger-menu{
        display: none;
    }
}


